<div class="bg"></div>
<section>
    <div class="container">
        <div class="row" id="list">
            <div *ngFor="let f of forecast" class="col-3">
                <div class="card temp mt-3 mb-3">
                    <div class="card-body">
                        <p>{{f.dt_txt}}</p>
                        <h2>{{f.main.temp}}<sup>o</sup>C</h2>
                        <p>{{f.weather[0].description}}</p>
                        <img src="https://openweathermap.org/img/wn/{{f.weather[0].icon}}@2x.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>